.menu{
    background-color:#20B2AA;
    height: 100px;
    padding: 5px;
    text-align: left;
}
.menu ul li{
    display: inline-block;
    margin-left: 10px;
    margin-right: 80px;
}
.menu ol li{
    display: inline-block;
    margin-left: -10px;
    margin-right: -80px;
    margin: 5px 30px 30px 30px;
    margin-top: 15px;
}
.btn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    cursor: pointer;
    text-decoration: none;
    color:#4B0082;
    padding: 5px;
    border-radius: 20px;
    border:0;
    background-color: cyan;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
    box-shadow: 2px 2px 0 1px #4B0082;
    transition: box-shadow 0.5s ease, transform 0.5s ease;

}

.btn:active{
    box-shadow: 0 0 0 0 #4B0082, inset 3px 3px 3px #4B0082;
    transform: translate(3px 3px);
}

.btn2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    color:#4B0082;
    padding: 5px;
    border-radius: 20px;
    border:0;
    background-color: cyan;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
    box-shadow: 2px 2px 0 1px #4B0082;
    transition: box-shadow 0.5s ease, transform 0.5s ease;
}

.btn2:active{
    box-shadow: 0 0 0 0 #4B0082, inset 3px 3px 3px #4B0082;
    transform: translate(3px 3px);
}

.home{
    background:#B0E0E6;
    width: 100%;
    height: 500px;
    border-top-style: double;
}

.foto{
    width:239px;
    height:258px;
    background-color: gray;
    margin-top: 60px;
    margin-left: 30px;
    border-style:groove;
    border-width: 10px;
    border-color: #483D8B;
    cursor: pointer;
}

#texto{
    display:table-cell;
    float:left;
    width:570px;
    margin-top:-270px;
    margin-left:300px;
    font-size:20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.conhec{
    border-top-style: double;
    width: 100%;
    height: 500px;
    background-color:#00FF7F;
    
}

#h3{
    margin-top:40px;
    margin-left: 20px;

}

.cx1{
    width: 194px;
    height:150px;
    position: absolute;
    background-color: #778899;
    margin-top:50px;
    margin-left: 115px;
    border-style: double;
    border-width: 10px;
    border-color: indigo;
    cursor: pointer;
}

.cx2{
    width: 194px;
    height:150px;
    position: absolute;
    background-color: #778899;
    margin-top: 50px;
    margin-left:415px;
    border-style: double;
    border-width: 10px;
    border-color:indigo;
    cursor:pointer;
}    

.cx3{
    width: 194px;
    height:150px;
    position: absolute;
    background-color: #778899;
    margin-top: 50px;
    margin-left: 715px;
    border-style: double;
    border-width: 10px;
    border-color: indigo;
    cursor:pointer;
}

.futproj{
    border-top-style: double;
    width: 100%;
    height: 500px;
    background-color:#00CED1;
}

#fut{
    margin-top:40px;
    margin-left: 20px;
}

.proj1{
    width: 200px;
    height:155px;
    position: absolute;
    background-color: #778899;
    margin-top: 20px;
    margin-left:150px;
    border-style: ridge;
    border-width: 10px;
    cursor: pointer;
}

.proj2{
    width:200px;
    height:155px;
    position: absolute;
    background-color: #778899;
    margin-top: 20px;
    margin-left:560px;
    border-style: ridge;
    border-width:10px;
    cursor:pointer;
}

.feed{
    border-top-style: double;
    width: 100%;
    height: 500px;
    background-color:#B0C4DE;
}

#feedh3{
    margin-top:40px;
    margin-left:20px;
}  

.form{
    display:flex;
    flex-direction:column;
}

#Nome{
    margin-left: 50px;
    width: 400px;
    height: 20px;
}

#Email{
    margin-top: 20px;
    margin-left: 50px;
    width: 400px;
    height: 20px;

}

#Assunto{
    margin-top: 20px;
    margin-left: 50px;
    width:400px ;
    height: 20px;
}

#Mens{
    margin-top:20px;
    margin-left: 50px;
    width: 400px;
    height: 150px;
}

#btnenviar{
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 50px;
    width: 408px;
    height: 30px;

}

.rodape{
    margin-top: 60px;
    margin-left:450px;
}