.menu{
    background-color:#20B2AA;
    height: 100px;
    padding: 5px;
    text-align: left;
}
.menu ul li{
    display: inline-block;
    margin-left: 10px;
    margin-right: 80px;
}
.menu ol li{
    display: inline-block;
    margin-left: -10px;
    margin-right: -80px;
    margin: 5px 30px 30px 30px;
}
.btn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    cursor: pointer;
    text-decoration: none;
    padding: 5px;
    border-radius: 20px;
    background-color: cyan;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 0 1px #4B0082;


}